/* Estilos generales */


:root {
  --texto: #d6d6d6;
  /** colores */
  --azul-1: #0D79FA;
  --azul-2: #0BA3DE;
  --azul-3: #00F2F5;
  --azul-4: #0BDEA6;
  --azul-5: #0DFA78;
  /** fondos */
  --fondo-1: #0e0f0f;
}


html,
body {
  min-width: 100vh;
  min-height: 100vh;
  font-family: 'Roboto';
  color: var(--texto);
  background-color: var(--fondo-1);
}

h1 {
  color: var(--fondo-1);
  font-size: 25px;
  margin-bottom: 5px;
}

h2 {
  color: var(--azul-1);
  font-size: 25px;
  margin-bottom: 5px;
}

h3 {
  color: var(--azul-1);
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #424242;
  border-radius: 5px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0BA3DE;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #206ec2
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
}

input::placeholder {
  color: #0e0f0f;
}

label {
  color: #0BA3DE;
}

a {
  color: var(--azul-5);
  text-decoration: none;
  transition: color 0.3s ease;
}

p {
  font-size: 15px;
}

a:visited {
  color: var(--azul-4);
}

a:hover {
  color: var(--azul-3);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}
